<div style="padding-left: 0px;">
            <h2>Özkaynak bizim her şeyimiz. </h2>

            <div class="image-container">
        <div class="text">FUTBOL</div>
        </div>
        </div>
        <div class="divContainer">
            <a href="#siteamac"> <font size="+3"> <div class="divGroup">Sitenin Amacı</font> </a></div>
            <a href="#siteyarar"><font size="+3"><div class="divGroup">Siteden Kimler Yararlanabilir</font></a></div>
            
        </div>
        <img id="siteamac" src="images/football-1350720-1920.jpg" > 
        <img id="siteyarar" src="images/soccer-ball-on-grass-field-with-stripe.jpg">
        
        <script> src="\app.js" </script>
    </body>