<!DOCTYPE html>
<html>
    <head>
        <title>AltyapıGözlem</title>
        <link rel="stylesheet" href="/css/takım.css">
    </head>
    <body>
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
        

        <div class="ptable">
        <h1 class="headin">1. Grup</h1>
                            <table>
                                <tr class="col">
                                    <th>#</th>
                                    <th>Takım</th>
                                    <th>OM</th>
                                    <th>G</th>
                                    <th>B</th>
                                    <th>Y</th>
                                    <th>AV</th>
                                    <th>PUAN</th>
                                </tr>
                                <tr class="wpos">
                                    <td>1</td>
                                    <td>A İlkokulu</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>5</td>
                                    <td>6</td>
                                </tr>
                                <tr class="wpos">
                                    <td>2</td>
                                    <td>B İlkokulu</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>
                                <tr class="wpos">
                                    <td>3</td>
                                    <td>C İlkokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>4</td>
                                </tr>
                                <tr class="wpos">
                                    <td>4</td>
                                    <td>D İlkokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>4</td>
                                </tr>
                                <tr class="pos">
                                    <td>5</td>
                                    <td>E İlkokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>6</td>
                                    <td>F İlkokulu</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-1</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>7</td>
                                    <td>G İlkokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>-2</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>8</td>
                                    <td>H İlkokulu</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                </tr>
                                <tr class="pos">
                                    <td>9</td>
                                    <td>J İlkokulu</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>-1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="pos">
                                    <td>10</td>
                                    <td>K İlkokulu</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-4</td>
                                    <td>0</td>
                                </tr>
                                <tr class="pos">
                                    <td>11</td>
                                    <td>L İlkokulu</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-5</td>
                                    <td>0</td>
                                </tr>
                            </table>
        </div>
        <div class="ptable",id="ptable2">
            <h1 class="headin">2. Grup</h1>
                            <table>
                                <tr class="col">
                                    <th>#</th>
                                    <th>Takım</th>
                                    <th>OM</th>
                                    <th>G</th>
                                    <th>B</th>
                                    <th>Y</th>
                                    <th>AV</th>
                                    <th>PUAN</th>
                                </tr>
                                <tr class="wpos">
                                    <td>1</td>
                                    <td>A Ortaokulu</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>5</td>
                                    <td>6</td>
                                </tr>
                                <tr class="wpos">
                                    <td>2</td>
                                    <td>B Ortaokulu</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>
                                <tr class="wpos">
                                    <td>3</td>
                                    <td>C Ortaokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>4</td>
                                </tr>
                                <tr class="wpos">
                                    <td>4</td>
                                    <td>D Ortaokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>4</td>
                                </tr>
                                <tr class="pos">
                                    <td>5</td>
                                    <td>E Ortaokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>6</td>
                                    <td>F Ortaokulu</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-1</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>7</td>
                                    <td>G Ortaokulu</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>-2</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>8</td>
                                    <td>H Ortaokulu</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                </tr>
                                <tr class="pos">
                                    <td>9</td>
                                    <td>J Ortaokulu</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>-1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="pos">
                                    <td>10</td>
                                    <td>K Ortaokulu</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-4</td>
                                    <td>0</td>
                                </tr>
                                <tr class="pos">
                                    <td>11</td>
                                    <td>L Ortaokulu</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-5</td>
                                    <td>0</td>
                                </tr>
                            </table>
        </div>
        <div class="ptable",id="ptable3">
            <h1 class="headin">3. Grup</h1>
                            <table>
                                <tr class="col">
                                    <th>#</th>
                                    <th>Takım</th>
                                    <th>OM</th>
                                    <th>G</th>
                                    <th>B</th>
                                    <th>Y</th>
                                    <th>AV</th>
                                    <th>PUAN</th>
                                </tr>
                                <tr class="wpos">
                                    <td>1</td>
                                    <td>A Lisesi</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>5</td>
                                    <td>6</td>
                                </tr>
                                <tr class="wpos">
                                    <td>2</td>
                                    <td>B Lisesi</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>6</td>
                                </tr>
                                <tr class="wpos">
                                    <td>3</td>
                                    <td>C Lisesi</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>4</td>
                                    <td>4</td>
                                </tr>
                                <tr class="wpos">
                                    <td>4</td>
                                    <td>D Lisesi</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>4</td>
                                </tr>
                                <tr class="pos">
                                    <td>5</td>
                                    <td>E Lisesi</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>6</td>
                                    <td>F Lisesi</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>-1</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>7</td>
                                    <td>G Lisesi</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>-2</td>
                                    <td>3</td>
                                </tr>
                                <tr class="pos">
                                    <td>8</td>
                                    <td>H Lisesi</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                </tr>
                            </table>
        </div>
    </body>
</html>