<div class="menü">
           <a href="anasayfa">Ana Sayfa</a>
           <a href="futbolcu">Futbolcu</a>
           <a href="takim">Takım</a>
           <a href="talep">Maç Talebi</a>
           <a href="hakkinda">Hakkında</a>
           <a id="giris" href="giris">Giriş </a>
           <a id="/users/register" href="Kayit">Kayıt Ol</a>
       </div> 

       <!-- Menümüz burda ve tüm sayfalarda aktif şekilde kullanılıyor -->