<!DOCTYPE html>
<html>
    <head>
        <title>AltyapıGözlem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/anasayfastyle.css">
    </head>
    <body>
       
        {{> menu}}  <!-- Partials'dan menüyü çektim  -->

       {{{body}}}   <!-- Body'mizi burdan alıyoruz  -->

       <!-- Footer kullanmadığım için footer yok.  -->
     </body>   
</html>